.body,
html {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.fox-university {
    width: 80%;
    margin: auto;
    overflow: auto;
}

.fox-logo {
    width: 25%;
    float: left;
    padding: 25px 0px;
}

.fox {
    height: 60px;
    width: 45%;
    margin: 10px 0px;
    background-color: black;
}

.university {
    height: 30px;
    width: 45%;
    margin: 10px 0px;
    overflow: auto;
    background-color: black;
}

.icon {
    height: 30px;
    width: 12%;
    float: left;
    background-color: #fd5f00;
    margin: 40px 0px;
}

.email-box {
    width: 88%;
    float: left;
    padding: 10px 20px;
}

.email {
    height: 35px;
    width: 40%;
    background-color: black;
}

.email-id {
    height: 45px;
    width: 100%;
    background-color: black;
    margin: 20px 0px 0px 0px;
}

.apply-now {
    width: 100%;
    padding: 40px 0px 30px 107px;
}

.apply {
    height: 50px;
    width: 100%;
    background-color: black;
}

.menubar {
    width: 80%;
    padding: 10px 20px;
    background-color: #0d1128;
    margin: auto;
    overflow: auto;
}

.menus {
    width: 10%;
    float: left;
    overflow: auto;
}

.menu {
    width: 100%;
    float: left;
    padding: 25px 10px;
}

.home {
    height: 35px;
    width: 80%;
    background-color: #fd5f00;
}

.search-box {
    width: 30%;
    background-color: white;
    float: right;
    padding: 1px;
}

.search-menu {
    width: 100%;
    overflow: auto;
    padding: 5px;
    background-color: #0d1128;
}

.search {
    height: 40px;
    width: 35%;
    float: left;
    margin: 15px 20px;
    background-color: white;
}

.search-icon {
    height: 30px;
    background-color: white;
    width: 9%;
    margin: 20px 15px;
    float: right;
}

.main-page {
    background-color: #c88967;
    width: 100%;
}

.container {
    width: 80%;
    margin: auto;
    padding: 50px 0px;
    overflow: auto;
}

.block {
    height: 430px;
    width: 50%;
    float: left;
    margin: 120px 0px;
}

.education {
    height: 70px;
    width: 90%;
    margin: 20px 0px;
    background-color: white;
}

.para {
    height: 70px;
    width: 100%;
    background-color: white;
    margin: 40px 0px;
}

.contact-us {
    width: 30%;
    padding: 20px;
    background-color: #fd5f00;
}

.contact-button {
    height: 40px;
    width: 100%;
    background-color: white;
}

.qualities {
    width: 100%;
}

.item {
    width: 25%;
    float: left;
    padding: 50px 40px;
}

.quality-1 {
    background-color: #fd5f00;
}

.quality-2 {
    background-color: #0d1128;
}

.quality-container {
    width: 100%;
    margin: auto;
}

.quality-icon {
    height: 50px;
    width: 18%;
    background-color: white;
    margin: auto;
}

.quality-name {
    height: 35px;
    width: 75%;
    margin: 30px auto;
    background-color: white;
}

.quality-para {
    height: 120px;
    width: 100%;
    background-color: white;
    margin: auto;
}

.offer-page {
    width: 100%;
}

.offer-container {
    width: 80%;
    margin: auto;
    overflow: auto;
}

.offer-box1 {
    width: 60%;
    float: left;
}

.offer-details {
    width: 92%;
}

.what-offer {
    height: 70px;
    width: 45%;
    background-color: black;
    margin: 50px 0px;
}

.offer-para {
    height: 120px;
    width: 100%;
    margin: 50px 0px;
    background-color: gray;
}

offers {
    width: 100%;
    overflow: auto;
    background-color: orangered;
}

.offer-1 {
    width: 50%;
    float: left;
    overflow: auto;
    margin: 20px 0px;
    padding: 0px 10px;
}

.offer-icon {
    width: 20%;
    float: left;
    background-color: #fd5f00;
    padding: 5px;
    margin: 35px 0px;
}

.offer-1-icon {
    height: 35px;
    width: 50%;
    margin: 15px auto;
    background-color: white;
}

.offer-1-box {
    width: 80%;
    float: left;
    padding: 0px 20px;
    margin: 10px 0px;
}

.offer-1-title {
    height: 40px;
    width: 60%;
    background-color: black;
    margin: 10px 0px;
}

.offer-1-para {
    height: 120px;
    width: 90%;
    background-color: gray;
}

.offer-box-2 {
    width: 40%;
    float: left;
    padding: 0px 10px;
}

.image {
    height: 1100px;
    width: 100%;
    background-color: darkkhaki;
    margin: auto;
}

.university-details {
    background-color: #ec592c;
    width: 100%;
    padding: 150px 0px;
    overflow: auto;
}

.details-container {
    width: 80%;
    margin: auto;
}

.university-image {
    width: 50%;
    float: left;
    padding: 20px 40px 20px 0px;
}

.university-detail {
    width: 50%;
    float: left;
    padding: 20px 0px 20px 40px;
}

.un-image {
    height: 400px;
    width: 100%;
    overflow: auto;
    background-color: lightgray;
}

.play-button {
    height: 60px;
    width: 12%;
    background-color: white;
    margin: 170px auto;
    overflow: auto;
}

.play {
    height: 30px;
    width: 50%;
    background-color: #fd5f00;
    margin: 15px auto;
}

.un-detail {
    width: 100%;
    padding: 20px 0px;
}

.uni-name {
    height: 60px;
    width: 60%;
    margin: 10px 0px 20px 0px;
    background-color: white;
}

.para-1 {
    height: 150px;
    width: 98%;
    margin: 20px 0px 20px 0px;
    background-color: white;
}

.para-2 {
    height: 100px;
    width: 98%;
    background-color: white;
    margin: 20px 0px 0px 0px;
}

.items {
    width: 100%;
    margin: auto;
    overflow: auto;
    padding: 40px 0px 0px 0px;
}

.first{
    width: 25%;
    float: left;
}
.number{
    height: 60px;
    width: 25%;
    margin: 30px auto;
    background-color: white;
}
.students{
    height:30px;
    width: 60%;
    background-color: white;
    margin: 20px auto;
}